<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rede Social - Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap">

</head>
<body>

<!-- Cabeçalho imagem-->
<header>
    <img th:src="@{/img/logo_redesocial.png}" alt="Logo Rede Social" style="margin-bottom: 36px;">
</header>

<h1>Fazer Login</h1>

<!-- Fazer login -->
<form action="/fazer-login" method="post">
    <label for="login-username">Nome de usuário:</label>
    <input type="text" id="login-username" name="username" required>
    <br>
    <label for="login-password">Senha:</label>
    <input type="password" id="login-password" name="password" required>
    <br>
    <button type="submit">Fazer Login</button>
</form>

<!-- Exibir mensagens -->
<div th:if="${mensagem}">
    <p th:text="${mensagem}"></p>
</div>

</body>
</html>
